<h1>Admin beállítások</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Név</th>
      <th>E-mail</th>
      <th>Település</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for( user of userList; track user.id) {
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>
          <input type="number" [(ngModel)]="user.admin" class="form-control"
          required min="0" max="2" #adminInput="ngModel">

          @if(adminInput.touched && adminInput.invalid) {

            <div class="alert alert-danger">
              <p>Érvenytelen</p>
            </div>
          }

          @if(adminInput.hasError('min') || adminInput.hasError('max')) {

            <div class="alert alert-danger">
              <p>0, 1 vagy 2</p>
            </div>
          }

        </td>
        
        <td>
          <button type="button" class="btn btn-success"
          (click)="setAdmin(user)">Beállítás</button>
        </td>

      </tr>
    }
  </tbody>
</table>