<header>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">Főoldal</a>
    </li>
    @if(!loggedIn) {
      <li class="nav-item">
        <a routerLink="/login" class="nav-link">Belépés</a>
      </li>
    }

    @if(loggedIn) {
      <li class="nav-item">
        <a routerLink="/drink" class="nav-link">Italok</a>
      </li>
      <li class="nav-item">
        <a routerLink="/type" class="nav-link">Típusok</a>
      </li>
      <li class="nav-item">
        <a routerLink="/package" class="nav-link">Csomagolás</a>
      </li>

      <li class="nav-item">
        <a routerLink="/profile" class="nav-link">Profil</a>
      </li>

      <li class="nav-item">
        <a routerLink="/logout" class="nav-link">Kilépés</a>
      </li>

    }

    @if(isSuper) { 
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link">Admin</a>
      </li>
    }

  </ul>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>

